<!DOCTYPE html>
<html>
<head>
    <title>National Pokédex Tracker</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>

<body>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
            <div class="navbar-header">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#helpModal">Pokédex Tracker</button>
            </div>

        <ul class="nav navbar-nav">
            <li class="all-button">
                <a class="nav-link {%if region == 'All Generations'%}active{%endif%}" href="/" id="all_button">All</a>
            </li>
        </ul>
        <ul class="nav navbar-nav">
        {% for r in region_list %}
            <li class="gen-button">
                <a class="nav-link {%if r == region%}active{%endif%}" href="/gen/{{loop.index}}" id='{{r}}_button'>{{r}}</a>
            </li>
        {% endfor %}
        </ul>

        <form class="form-inline navbar-nav ml-auto">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="search-text" name="query">
            <button class="btn btn-light my-sm-0" type="submit" onclick="searchClick()">Search</a>
        </form>
    </nav>

    <hr>
    <hr>

    <div class="page">
        <div class="Title bar">
            <div class="row">
                <div class="col-12" align="center">
                    <h5 id=region-title>{{ region }}</h5>
                    <div class="progress current-progress" id="selectedCounter">
                        <div class="progress-bar" role="progressbar" id="selected-progress" aria-valuemin="0" aria-valuemax="100"></div>
                            <span id="progress-span"></span>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="container block-poke">
            <div class="row">
                {% for p in pokemons %}
                <div class="col-md-2 col-sm-6 border" data-id="{{p.id}}">
                    <center>
                        <button type="button" class="btn btn-default" style="width: 100%" onclick="loadDetails({{p}})">
                        {{p['id']}}
                        </button>
                    </center>
                    <button type="button" class="btn btn-default single-poke">
                        <img class="pokemon-image" src="/static/images/{{p['id']}}.png" width="100%"/>
                        <br>
                        <h5 align="center">{{p["name"]["english"]}}</h5>
                    </button>
                </div>
                {% endfor %}        
            </div>
        </div>
    </div>

    <div class="modal fade" id="poke-modal" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="poke-modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <ul class="nav nav-tabs" id="tabContent">
                    <div class="divider"></div>
                    <li class="active"><button type="button" class="btn btn-info" href="#poke-modal-body" data-toggle="tab">Details</a> </li>
                    <div class="divider"></div>
                    <li><button type="button" class="btn btn-info" href="#poke-modal-locations" data-toggle="tab">Locations</a> </li>
                    <div class="divider"></div>
                    <li><button type="button" class="btn btn-info" href="#poke-modal-shiny" data-toggle="tab">Shiny</a> </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="poke-modal-body">
                        <div id="poke-modal-body-details"></div>
                        <center><img src="" id="poke-modal-body-image" width="80%"/></center>
                    </div>

                    <div class="tab-pane" id="poke-modal-locations">
                        <h4>test for locations</h4>
                    </div>

                    <div class="tab-pane" id="poke-modal-shiny">
                        <center><img src="" id="shiny-modal-body-image" width="80%"/></center>
                    </div>

                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Pokédex Tracker</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Search using either name or type
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

</body>

<style type="text/css">
    body {
        color: black;
        background-color: white;
    }
    .pokemon-image {
        padding: 15px;
    }
    .page {
        padding-top: 15px
    }
    .green-bg {
        background-color: lightgreen;
    }
    .current-progress {
        width: 300px;
        height: 20px;
        position: relative;
    }
    #progress-span {
        position: absolute;
        display: block;
        width: 100%;
    }
    .divider{
    width:5px;
    height:auto;
    display:inline-block;
    }
</style>

<script>
    let selected = []; 
    let currentID = "";
    let games = ["red", "blue", "yellow", "ruby", "sapphire", "emerald", "firered", "leafgreen", "diamond", "pearl", "platinum", "heartgold", "soulsilver", "black", "white", "black2", "white2", "x", "y"];

    window.onload = function(){
        checkCookie()
        var json_str = getCookie('hokedex');
        selected = JSON.parse(json_str);
        setColour()
        selectedCounter()
    }    

    $(".single-poke").click(function(){
        $(this).closest("div").toggleClass('green-bg');
        cookieMonster($(this).closest("div").data("id"))
        selectedCounter()
    })

    function loadDetails(chosenP) {
        console.log(chosenP)
        currentID = chosenP.id;

        let details = `Type: ${chosenP.type}<br>
            <br>
            Base Stats - <br>
            HP: ${chosenP.base.HP}<br>
            Attack: ${chosenP.base.Attack}<br> 
            Defence: ${chosenP.base.Defense}<br>
            Sp. Attack: ${chosenP.base["Sp. Attack"]}<br>
            Sp. Defence: ${chosenP.base["Sp. Defense"]}<br>
            Speed: ${chosenP.base.Speed}<br>`
            
        let location_details = `Red: ${chosenP.locations.red} <br>`       

        $("#poke-modal").modal('show');
        $("#poke-modal-title").text(chosenP.name.english);
        $("#poke-modal-body-details").html(details);
        $('#poke-modal-body-image').attr('src', `/static/images/${chosenP.id}.png`);
        $('#shiny-modal-body-image').attr('src', `/static/images/shiny/${currentID}.png`);
        $('#poke-modal-locations').html(location_details);
    }

    function checkCookie() {
        if (document.cookie.indexOf("hokedex") >=0) {
            console.log("cookie exists")
        }
        else {
            cookieMonster(null)
        }
    }

    function cookieMonster(id) {
        var d = new Date();
        d.setTime(d.getTime() + (10000*24*60*60*1000));
        var expires = "expires="+ d.toUTCString();

        var checkList = selected.includes(id)
        var index = selected.indexOf(id)

        if(checkList === false) {
            selected.push(id);
        }
        if(index > -1) {
            selected.splice(index, 1);
        }

        var json_str = JSON.stringify((id == null) ? [] : selected);

        document.cookie = `hokedex=${json_str}; ${expires}; path=/`
    }

    function getCookie(c_name) {
    if (document.cookie.length > 0) {
        c_start = document.cookie.indexOf(c_name + "=");
        if (c_start != -1) {
            c_start = c_start + c_name.length + 1;
            c_end = document.cookie.indexOf(";", c_start);
            if (c_end == -1) {
                c_end = document.cookie.length;
            }
            return unescape(document.cookie.substring(c_start, c_end));
        }
    }
    return "";
    }

    function setColour() {
        for (let idx in selected) {
            $('[data-id=' + selected[idx] + ']').toggleClass('green-bg');
        }
    }

    function selectedCounter() {
        var selectedTracker = $('.green-bg').length
        var totalTracker = $('.pokemon-image').length
        var selectedTotal = (`${selectedTracker}/${totalTracker}`);
        var selectedPercent = (selectedTracker/totalTracker*100)
        $("#progress-span").text(selectedTotal);
        $("#selected-progress").width(selectedPercent + "%");

    }

    function searchClick() {
        var criteria = document.getElementById("search-text").value
        console.log(criteria)

    }



</script>

</html>